parameters:
    level: 1
    paths:
        - app/Http/Controllers
        - app/Http/Middleware
    excludePaths:
        - app/Providers/AppServiceProvider.php
    ignoreErrors:
        - '#Call to an undefined method Illuminate\\.*#'
        - '#Access to an undefined property Illuminate\\.*#'
        - '#Parameter .* of method .* has invalid type Illuminate\\.*#'
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
